.header{
    position: fixed;
    top:0;
    width: 80%;
    padding: 20px 5%;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    vertical-align: middle;
}

.logo{
    color:blue;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color:coral;
    font-weight:500;
    margin-left: 40px;
}

.carrito_compras{
    height: 25px;
    width: 25px;
}

.logo_empresa{
    height: 25px;
    width: 25px;
}